(
    profiles: (
        balanced: [
            (
                fan: CPU,
                pwm: (2, 22, 30, 43, 56, 68, 89, 102),
                temp: (48, 53, 57, 60, 63, 65, 70, 76),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 22, 33, 45, 58, 71, 94, 107),
                temp: (48, 53, 57, 60, 63, 65, 70, 76),
                enabled: false,
            ),
        ],
        performance: [
            (
                fan: CPU,
                pwm: (30, 56, 68, 86, 94, 114, 132, 254),
                temp: (42, 50, 55, 60, 65, 70, 75, 78),
                enabled: true,
            ),
            (
                fan: GPU,
                pwm: (33, 58, 71, 89, 99, 119, 137, 254),
                temp: (42, 50, 55, 60, 65, 70, 75, 77),
                enabled: true,
            ),
        ],
        quiet: [
            (
                fan: CPU,
                pwm: (2, 2, 22, 30, 43, 56, 68, 68),
                temp: (50, 54, 58, 62, 64, 67, 71, 71),
                enabled: false,
            ),
            (
                fan: GPU,
                pwm: (2, 2, 22, 33, 45, 58, 71, 71),
                temp: (50, 54, 58, 62, 64, 67, 71, 71),
                enabled: false,
            ),
        ],
        custom: [],
    ),
)