input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
    }
    focus-follows-mouse max-scroll-amount="10%"
    disable-power-key-handling
    // touch "T0UCH LKS LKS-27" { map-to-output "Xiaomi Corporation Mi Monitor 0x00000001"; }
}
output "Tianma Microelectronics Ltd. TL134ADXP03 Unknown" {
    scale 1
    transform "normal"
    position x=0 y=0
    mode "2560x1600@180.000000"
}
output "Xiaomi Corporation Mi Monitor 0x00000001" {
    scale 1
    transform "normal"
    position x=0 y=-2160
    mode "3840x2160@160.000000"
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { width 4; }
    border { off; }
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.333300
        proportion 0.500000
        proportion 0.666700
    }
    center-focused-column "never"
}
cursor {
    xcursor-theme "default"
    xcursor-size 24
}
binds {
    F11 { fullscreen-window; }
    Ctrl+Mod+Left { move-column-left; }
    Ctrl+Mod+Right { move-column-right; }
    Mod+B { spawn "firefox"; }
    Mod+Ctrl+C { spawn "sh" "-c" "xsel -ob | wl-copy"; }
    Mod+Ctrl+V { spawn "sh" "-c" "wl-paste -n | xsel -ib"; }
    Mod+D { switch-preset-column-width; }
    Mod+Up { focus-workspace-up; }
    Mod+Down { focus-workspace-down; }
    Mod+Escape { power-off-monitors; }
    Mod+F { maximize-window-to-edges; }
    Mod+L { spawn "dms" "ipc" "lock" "lock"; }
    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+MouseMiddle { close-window; }
    Mod+P hotkey-overlay-title="Toggle Notepad" { spawn "dms" "ipc" "notepad" "toggle"; }
    Mod+S { screenshot; }
    Mod+Space hotkey-overlay-title="Toggle Application Launcher" { spawn "dms" "ipc" "spotlight" "toggle"; }
    Mod+T { spawn "ghostty"; }
    Mod+W { move-workspace-to-monitor-next; }
    Mod+WheelScrollDown cooldown-ms=50 { focus-column-right; }
    Mod+WheelScrollUp cooldown-ms=50 { focus-column-left; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "audio" "decrement" "3"; }
    XF86AudioMicMute allow-when-locked=true { spawn "dms" "ipc" "audio" "micmute"; }
    XF86AudioMute allow-when-locked=true { spawn "dms" "ipc" "audio" "mute"; }
    XF86AudioPlay { spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "audio" "increment" "3"; }
    XF86Launch3 { spawn "voxtype" "record" "toggle"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "brightness" "decrement" "5" ""; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "brightness" "increment" "5" ""; }
}
spawn-at-startup "Telegram" "-startintray"
spawn-at-startup "element-desktop" "--hidden"
spawn-at-startup "discord" "--start-minimized" "--no-startup-id"

include "dms/alttab.kdl"
include "dms/colors.kdl"
include "dms/wpblur.kdl"
