[Desktop Entry]
Categories=Network;InstantMessaging;Qt;
Comment=Desktop client for Matrix
Exec=nheko %u
Icon=nheko
Keywords=Matrix;matrix.org;chat;irc;communications;talk;riot;element;fractal;voip;
MimeType=x-scheme-handler/matrix;
Name=nheko
StartupWMClass=nheko
Terminal=false
Type=Application
Version=1.0
X-GNOME-UsesNotifications=true
X-KDE-Keywords=Matrix,matrix.org,chat,irc,communications,talk,riot,element,fractal,voip,
X-Purism-FormFactor=Workstation;Mobile;
